name: Test & deploy to ghaymah

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Create .env from GitHub secrets
        shell: bash
        run: |
          cat > .env << 'EOF'
          DATABASE_URL=${{ secrets.DATABASE_URL }}
          PORT=${{ secrets.PORT }}
          NODE_ENV=${{ secrets.NODE_ENV }}

          ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}

          JWT_SECRET=${{ secrets.JWT_SECRET }}
          JWT_ACCESS_EXPIRES_IN=${{ secrets.JWT_ACCESS_EXPIRES_IN }}
          JWT_REFRESH_EXPIRES_IN=${{ secrets.JWT_REFRESH_EXPIRES_IN }}

          SMTP_HOST=${{ secrets.SMTP_HOST }}
          SMTP_PORT=${{ secrets.SMTP_PORT }}
          SMTP_USER=${{ secrets.SMTP_USER }}
          SMTP_PASS=${{ secrets.SMTP_PASS }}
          EOF

      - name: Install Ghaymah CLI
        run: |
          mkdir -p $HOME/ghaymah/bin
          curl -L https://cli.ghaymah.systems/gy-linux-amd64 -o $HOME/ghaymah/bin/gy
          chmod +x $HOME/ghaymah/bin/gy

      - name: Login to Ghaymah
        run: $HOME/ghaymah/bin/gy auth login --email "${{ secrets.GHAYMAH_EMAIL }}" --password "${{ secrets.GHAYMAH_PW }}" --no-auto-update

      - name: Deploy App
        run: $HOME/ghaymah/bin/gy resource app launch --no-auto-update
